.container{
  color: #fff;
  text-align: center;
  background-size: cover; /* Ajusta para cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição */
  width: 100%;
  height: 100vh; /* Preenche a tela toda */
  margin: 0;
  padding: 0;
 
}
.cabecalho{
    margin: 0px 40px 200px 40px;
    
    h1{
        font-size: 3rem;
        padding-bottom: 20px;
        padding-top: 50px;
    }
    h2{
        font-size: 1rem;
    }
}
/* styles.css */
input::placeholder {
    color: black; /* Define a cor desejada */
    opacity: 1; /* Ajuste a opacidade, se necessário */
  }
  